<div class="d-flex justify-content-end mb-3">
  <div><%= link_to "New house", new_house_path, class: "btn btn-primary" %></div>
</div>

<div class="card-columns">
  <% @houses.each do |house| %>
  <a href="<%= house_path(house) %>" class="text-dark">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          <b>Rent</b>: $ <%= house.rent.to_i %><br>
          <b>Deposit</b>: $ <%= house.deposit.to_i %>
        </p>
        <p class="card-text">
          <b>Address</b>: <br>
          <%= house.address.address_1 %> <%= house.address.address_2 %><br>
          <%= house.address.city %> <%= house.address.state %>, <%= house.address.zip_code %>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= distance_of_time_in_words_to_now(house.created_at) %> ago created</small>
      </div>
    </div>
  </a>
  <% end %>
</div>
