<div class="d-flex justify-content-between">
  <div>
    <h1>Houses</h1>
  </div>
  <div>
    <%= link_to "New house", new_house_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="card-columns">
  <% @houses.each do |house| %>
  <a href="<%= house_path(house) %>" class="text-dark">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          <b>Rent</b>: $ <%= house.rent %><br>
          <b>Deposit</b>: $ <%= house.deposit %>
        </p>
        <p class="card-text">
          <b>Address</b>: <br>
          <%= house.address.address_1 %> <%= house.address.address_2 %><br>
          <%= house.address.city %> <%= house.address.state %>, <%= house.address.zip_code %>
        </p>
      </div>
    </div>
  </a>
  <% end %>
</div>
