<div class="row">
  <div class="col-12 col-md-12 col-lg-8 mx-auto">
    <h2>Change your password</h2>

    <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |form| %>
      <%= devise_error_messages! %>
      <%= form.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= form.label :password, "New password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= form.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label          :password_confirmation, "Confirm new password" %>
        <%= form.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <%= form.submit "Change my password", class: "btn btn-primary" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
